.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    &--sm {
        width: calc(min(max(20vw, 80px), 135px));
        height: calc(min(max(6vw, 26px), 40px));
        font-size: clamp(0.6rem, 2vw, 1rem);
        font-weight: 500;
        color: $c-pink;
        border: 1px solid $c-pink;
        border-radius: 30px;
    }

    &--start {
        width: calc(min(max(45vw, 196px), 398px));
        height: calc(min(max(6vw, 40px), 80px));
        background: $c-pink;
        font-size: clamp(0.75rem, 2vw, 1.3rem);
        font-weight: 600;
        color: #fff;
        border-radius: 40px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    }
}