.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    &--sm {
        width: 80px;
        height: 26px;
        font-size: 0.6rem;
        font-weight: 500;
        color: $c-pink;
        border: 1px solid $c-pink;
        border-radius: 30px;

        @include breakpoint('sm') {
            width: 100px;
            height: 30px;
            font-size: 0.8rem;
        }

        @include breakpoint('md') {
            width: 120px;
            height: 35px;
            font-size: 0.8rem;
        }

        @include breakpoint('lg') {
            width: 135px;
            height: 40px;
            font-size: 1rem;
        }
    }

    &--start {
        width: 196px;
        height: 40px;
        background: $c-pink;
        font-size: 0.75rem;
        font-weight: 600;
        color: #fff;
        border-radius: 40px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);

        @include breakpoint('md') {
            width: 250px;
            height: 60px;
            font-size: 1rem;
        }

        @include breakpoint('lg') {
            width: 398px;
            height: 80px;
            font-size: 1.3rem;
        }
    }
}